@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Arial, sans-serif;
}
/* .main {
    display: flex;
    flex-direction: column;
} */
.banner {
    height: 120px;
    background-image: url(../Images/backgrd.png);
    line-height: 120px;
}
h1 {
    text-shadow: 3px 3px 3px red;
    color: yellow;
    text-align: center;
    /* font-size: 3em;
    font-weight: 900; */
}
.menu{
    background-color: #03C9A9;
    height: 40px;
    text-align: center;
    margin-top: 10px;
}

.menu .box-menu{
    display: inline-block;
    position: relative;
}

.menu .box-menu a{
    color: #fff;
    text-decoration: none;
    background-color: #049372;
    line-height: 40px;
    padding: 11px 30px;
}

.menu .main-menu li{ 
    background-color: #049372;
    list-style-type: none;
    padding: 10px 18px;
    border-top: 1px solid #000;
}
.menu .main-menu{
    display: none;
    position: absolute;
    color: #fff;
}

.menu .box-menu:hover a{
    color: #000;
    background-color: #03A678;
}
/* .menu .box-menu a:hover {
    color: #000;
} */

.menu .box-menu:hover .main-menu{
    display: block;
}
.menu .box-menu .main-menu li:hover{
    color: #000;
    background-color: #03A678;
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: row;
}
/* ul li {
    margin-left: 20px;
    list-style: none;
} */
ul {
    list-style: none;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* .left .list-content{
    margin: 20px;
    list-style: none;
} */
.left, .right {
    width: 15%;
    min-height: 700px;
    background-color: #C5EFF7;
}
.main-left {
    background-color: #0000FF;
    color: white;
    text-align: center;
    border: 1px solid black;
}
.main-left ul li {
    list-style: none;
    padding: 15px;
    background-color: red;
    text-align: center;
}
.main-right {
    border-radius: 20px 20px;
    border: 1px solid black;
    width: 120px;
    height: 80px;
    margin: 30px;
    line-height: 70px;
    background-color: #FFE4C4;
    box-shadow: 3px 3px #808080;
    text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 700px;
}
.content > div {
    display: flex;
    flex-direction: row;
}
.content > div div {
    width: 50%;
    height: 350px;
    border: 1px solid gray;
    overflow: auto;
    margin: 2px;
    padding: 10px;
    text-align: justify;
    line-height: 20px;
}
.footer {
    text-align: center;
    background-color: #3300FF;
    color: yellow;
    font-size: 20px;
}