@charset "utf-8";
body {
    color:#000000;
    background-color:#ffffff;
    font-size:12px;
    font-family:arial, verdana, sans-serif;
   }
.banner{
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-weight: 900;
    color: white;
    animation: banner 4s infinite;
}
.container{
    display: flex;
    justify-content: space-between;

}
.container>div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container div:first-child {
    animation: changeImg 4s infinite !important
} 
@keyframes banner
{
    0% {background-color: red; font-size: 1.2em;}
    20% {background-color: green;font-size: 1.4em;}
    40% {background-color: blue;font-size: 1.6em;}
    60% {background-color: yellow;font-size: 1.8em;}
    80% {background-color:rgb(133, 75, 75);font-size: 2em;}
    100% {background-color:rgb(46, 46, 173);font-size: 2.2em;}
}

@keyframes changeImg {
    0% {background-image: url(../Images/pointlobos.jpg);}
    20% {background-image: url(../Images/1.jpg);}
    40% {background-image: url(../Images/2.jpg);}
    60% {background-image: url(../Images/3.jpg);}
    80% {background-image: url(../Images/4.jpg);}
    100% {background-image: url(../Images/bittet.jpg);}
}

@keyframes box4
{
    0%{ transform: rotate(0deg);}
    20%{ transform: rotate(60deg);}
    40%{ transform: rotate(120deg);}
    60%{ transform: rotate(180deg);}
    80%{transform: rotate(240deg);}
    100%{transform: rotate(360deg);}
}

.container> div:nth-child(2) {
    border: dashed blue;
    background-color: aqua;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.container> div:nth-child(3) {
    border: dashed blue 1px;
    background-color: aqua;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container> div:nth-child(4) {
    border: solid yellow;
    background-color: darkgreen;
    color: yellow;
    animation: box4 linear 2s infinite;
}
